.grid-container {
  display: grid;
  /* Arrange the image containers in rows of 5 */
  grid-template-columns: repeat(5, 200px);
  column-gap: 10px;
  row-gap: 10px
}

.grid-item {
  background-color: #ccc;
  padding: 0px;
  text-align: center;
  height: 234px;
  width: 200px;
}

.generated-image {
  height: 234px;
  width: 200px;
}

.selected-image {
  border: 4px solid #202A44;
  margin-left: -4px;
  margin-top: -4px;
}
