/* Indent each experience section */
.experience-section {
  margin-left: 20px;
}

/* Correctly size the logos */
.experience-logo {
  width: 60px;
  aspect-ratio: 1;
}

/* Add spacing between the title and the logo */
.experience-title {
  margin-left: 10px;
  text-decoration: underline;
}

/* Center all the elements in the experience section to be vertically aligned */
.experience-header {
  display: flex;
  align-items: center;
}

.experience-content {
  display: block;
}
