/* Crop, position, and resize personal image */
#personal-image {
   width: 40%;
   aspect-ratio: 0.9;
   float: right;
   object-fit: cover;
   margin-top: -70px;
   margin-left: 20px;
   opacity: 0;
   transition: 2s;
}
