/* Style the columsn in the table */
.table-column {
  float: left;
  width: 18%;
  padding: 0% 1%;
  justify-content: center;
  flex: 1;
}

/* Color every odd column light gray */
.table-column:nth-child(odd) {
  background-color: #bbb;
}

/* Widen the table */
.table {
  width: 1100px;
  display: flex;
}

/* Center the header text in each column*/
.table-header {
  text-align: center;
}

/* Change default link styling to use navy blue color */
.table-header > a, .table-header > i {
  color: #202A44;
  text-decoration: none;
}

/* Change text color to a lighter shade of blue when user hovers*/
.table-header:hover > a, .table-header:hover > i {
  color: #3c4e7f;
}
