/* Arrange as many skills in a row as possible before overflowing to the next line */
.skills-container {
  display: flex;
  flex-wrap: wrap;
}

/* Correctly size the logos */
.skills-logo {
  width: 30%;
  aspect-ratio: 1;
  display: block;
  margin: auto;
}

/* Correctly size the skill container */
.skill {
  width: 340px;
  margin-bottom: 20px;
}

/* Center the text for skill name and description */
.skill-name, .skill-description {
  text-align: center;
  margin: 5px;
}
